page-tips {
    .logo {
        margin-top: 12%;
        line-height: 0.2;
    }
    .tips-heading{


    }
    .tips-buttons{

        margin-top: 35%;
    }
    .background{

        background-image: url("/assets/BG Tips.png")
    }
}
