page-workout {
    .get-ready {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .video {
        height: 30vh !important;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .share-wrap {
        margin-top: 10px;
        margin-right: 10px;
    }
    .overlay {
        background-color: rgba(0, 0, 0, .7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10%;
        margin: 0;
        text-align: center;
        object-fit: cover;
        img {
            height: 100%;
        }
        z-index: 9999;
    }
    .video-player {
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
    .img{
        height:40px;;
    }
    .clr{
        color:rgba(102, 146, 241, 0.63);
        font-size: 150%;    
        }
    
    .clor{
            color:#D400A6;
            } 
    .size{
            width:40%;
            height:50%;

    }           
    .video-controls{
        position: absolute;
        bottom: 50px;
        width: 100%;
        ion-col {
            margin-top: 50px;
            img {
                position: absolute;
                left: 50%;
                right: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .bg-header {
        width: 100%;
        height: 60px;
        z-index: 1;
        position: relative;
        .background {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .header-content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            font-size: 40px;
            color: white;
            height: 60px;
            line-height: 60px;
        }
            
    }
    @media (min-width: 700px) {
        .bg-header {
            .background {
                width: 100%;
            }
        }            
    }
}
